
.contact-banner{
    height: 400px;
    width: 100%;
    background: fixed url(https://images.unsplash.com/photo-1587141121200-3cdb4c1b78a7?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D) center/cover no-repeat;
}
.contact-banner .baner{
    height: 330px;
    width: 100%;
    background: rgba(25, 84, 126, 0.4) !important;
}